body {
    margin: 0px;
    padding-left: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

#parametr {
    width: 100px;
    height: 195px;
    padding-top: 0px;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 355px;
    border:solid 1px black ;
    border-color: rgb(134, 133, 133);
}

#okno{
    padding-top: 20px;
}

#config {
    font-size: 16px;
}

#btn {
    position: absolute;
    left: 418px;
    top: 300px;
    width: 120px;
    height: 30px;
}

h1 {
    text-transform: uppercase;
}

#A1_UTP, #A1_FTTH, #A2_UTP, #A2_FTTH, #Eltex_UTP, #Eltex_FTTH, #GPON_4000, 
#pole_utp_ftth, #pole_port, #pole_dogovor, #pole_vlan, #pole_portGPON, 
#pole_SNGPON, #pole_passGPON {
    display: none;
}